body {
	background: lightgrey;
}
h1 {
	text-align: center;
	color: darkred;
}
.container {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

.result {
	margin-left: 10px;
}

img {
	max-width: 100%;
}